<div class="container">
    <div class="sub-container">
        <div class="form-container">
            <form class="form" [formGroup]="form">
                <div class="header">
                    <a class="page"> {{page}}</a>
                </div>
                <ng-container *ngIf="!clicked">
                    <div class="employee">
                        <div class="name-container">
                            <div class="fname-container">
                                <label for="fname">სახელი</label><br />
                                <input formControlName="name" class="fname" type="text" id="fname" name="fname" /><br />
                                <small>მინიმუმ ორი სიმბოლო, ქართული ასოები</small>
                                <!-- <div [hidden]="firstname.valid || firstname.untouched">
                                    <div>
                                        The following problems have been found with the firstname:
                                    </div>
                                    <div [hidden]="!firstsname.hasError('minlength')">
                                        Firstname can not be shorter than 5 characters.
                                    </div>
                                    <div [hidden]="!firstname.hasError('required')">
                                        Firstname is required.
                                    </div>
                                </div> -->
                            </div>
                            <div class="lname-container">
                                <label for="lname">გვარი</label>
                                <input formControlName="surname" class="lname" type="text" id="lname" name="lname" />
                                <small>მინიმუმ ორი სიმბოლო, ქართული ასოები</small>
                            </div>
                        </div>
                        <div class="selector-container">
                            <select formControlName="team_id" name="team" id="team">
                                <option value="" [disabled]="disabled">თიმი</option>
                                <option *ngFor="let member of teams" [ngValue]="member">
                                    {{ member.name }}
                                </option>
                            </select>

                            <!-- <select formControlName="team_id" [(ngModel)]="teamSelected"
                                (ngModelChange)="showPositions($event)" name="team" id="team">
                                <option value="">თიმი</option>
                                <option *ngFor="let member of teams" [value]="member.id">
                                    {{ member.name }}
                                </option>
                            </select> -->
                        </div>
                        <div class="selector-container">
                            <select formControlName="position_id" name="position" id="position">
                                <option value="" [disabled]="disabled">პოზიცია</option>
                                <option *ngFor="let position of positions" [ngValue]="position">
                                    {{ position.name }}
                                </option>
                            </select>
                            <!-- <select formControlName="position_id" name="position" id="position">
                                <option value="">პოზიცია</option>
                                <option *ngFor="let position of listPositions.data" [value]="position.id">
                                    {{ position.name}}
                                </option>
                            </select> -->
                        </div>
                        <div class="email-container">
                            <label for="email">მეილი</label>
                            <input formControlName="email" type="email" id="email" name="email" />
                            <small>უნდა მთავრდებოდეს @redberry.ge-ით</small>
                        </div>
                        <div class="phone-container">
                            <label for="phone">ტელეფონის ნომერი</label>
                            <input formControlName="phone_number" type="tel" id="phone" name="phone"
                                pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" />
                            <small>უნდა აკმაყოფილებდეს ქართული მობ-ნომრის ფორმატს</small>
                        </div>
                    </div>
                    <button class="next" (click)="onLocalStorageSave()">შემდეგი</button>
                </ng-container>
                <ng-container *ngIf="clicked">
                    <div class="second-page">

                        <div class="dropzone">
                            <label for="inputTag">
                                <div class="text">
                                    ჩააგდე ან ატვირთე <br>
                                    ლეპტოპის ფოტო
                                </div>

                                <div class="upload-button-container">
                                    <p class="upload-text">
                                        ატვირთე
                                    </p>
                                    <input id="inputTag" formControlName="laptop_image" type="file"
                                        (change)="onChange($event)" />
                                </div>
                            </label>
                        </div>
                        <div class="name-container">
                            <div class="laptopname-container">
                                <label for="laptopname">სახელი</label><br />
                                <input formControlName="laptop_name" class="laptopname" type="text" id="laptopname"
                                    name="laptopname" /><br />
                                <small>ლათინური ასოები, ციფრები, !@#$%^&*()_+=</small>
                            </div>
                            <div class="laptopname-container">
                                <select formControlName="laptop_brand_id" name="laptop_brand_id" id="laptopbrand">
                                    <option value="" [disabled]="disabled">ლეპტოპის ბრენდი</option>
                                    <option *ngFor="let brand of brands" [ngValue]="brand">
                                        {{ brand.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="cpu-container">
                            <div class="cpu-selector-container">
                                <select formControlName="laptop_cpu" name="cpu" id="cpu">
                                    <option value="" [disabled]="disabled">CPU</option>
                                    <option *ngFor="let cpu of cpus" [ngValue]="cpu">
                                        {{ cpu.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="cpu-input-container">
                                <label for="cpu-input">CPU-ს ბირთვი</label><br />
                                <input formControlName="laptop_cpu_cores" class="cpu-input" type="text" id="cpu-input"
                                    name="cpu-input" /><br />
                                <small>მხოლოდ ციფრები</small>
                            </div>
                            <div class="cpu-input-container">
                                <label for="cpu-input">CPU-ს ნაკადი</label><br />
                                <input formControlName="laptop_cpu_threads" class="cpu-input" type="text" id="cpu-input"
                                    name="cpu-input" /><br />
                                <small>მხოლოდ ციფრები</small>
                            </div>
                        </div>
                        <div class="radio-container">
                            <div class="ram-input-container">
                                <label for="ram">ლეპტოპის RAM (GB)</label><br />
                                <input formControlName="laptop_ram" class="ram-input" type="text" id="ram"
                                    name="ram" /><br />
                                <small>მხოლოდ ციფრები</small>
                            </div>
                            <div class="radio-input-container">
                                <p>მეხსიერების ტიპი</p>
                                <input formControlName="laptop_hard_drive_type" type="radio"
                                    name="laptop_hard_drive_type" value="SSD">
                                <label class="left-radio-button" for="ssd">SSD</label>
                                <input formControlName="laptop_hard_drive_type" type="radio"
                                    name="laptop_hard_drive_type" value="HDD">
                                <label for="hdd">HDD</label>
                            </div>

                        </div>
                        <hr>
                        <div class="date-input-container">
                            <div>
                                <label for="date-input">შეძენის რიცხვი (არჩევით)</label><br />
                                <input formControlName="laptop_purchase_date" class="date-input" type="date"
                                    id="date-input" name="date-input" placeholder="დდ / თთ / წწწწ" /><br />
                            </div>
                            <div>
                                <label for="price-input">ლეპტოპის ფასი</label><br />
                                <input formControlName="laptop_price" class="price-input" type="number" id="price-input"
                                    name="price-input" /><br />
                                <small>მხოლოდ ციფრები</small>
                            </div>
                        </div>
                        <div class="radio-input-container">
                            <div>
                                <p>ლეპტოპის მდგომარეობა</p>
                            </div>
                            <div class="input-option-container">
                                <input formControlName="laptop_state" type="radio" name="laptop_state" value="new">
                                <label class="left-radio-button" for="new">ახალი</label>
                                <input formControlName="laptop_state" type="radio" name="laptop_state" value="used">
                                <label for="used">მეორადი</label>
                            </div>
                        </div>
                        <div class="button-container">
                            <a type="button" class="back" (click)="changeClicked()">უკან</a>
                            <button type="button" class="save" (click)="fileUpload()">დამახსოვრება</button>

                        </div>
                    </div>

                </ng-container>
            </form>
        </div>
    </div>
</div>