<div class="container">
    <div class="sub-container">
        <div class="note-container" *ngFor="let i of laptopData.data">
            <div class="image-container">
                <img alt="Laptop Image">
            </div>
            <div class="name-container">
                <p class="name" >{{i.user.name}}</p>
                <p class="laptop-name">
                    {{i.laptop.name}}
                </p>
                <a href="" class="read-more">მეტის ნახვა</a>
            </div>
        </div>
    </div>
</div>