.container {
  margin: 0 auto;
}
.sub-container {
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
  background-color: rgb(224, 224, 224);
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}

.header a {
  text-decoration: none;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  margin-right: 66px;
}

.form-container {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 174px;
  width: 878px;
  border-radius: 8px;
  background-color: #fff;
}

.name-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.name-container .fname-container small,
.name-container .lname-container small,
small {
  font-weight: 200;
  color: grey;
}

.fname,
.lname {
  width: 407px;
  height: 40px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  border-radius: 8px;
  border: 0.3px solid rgb(55, 167, 241);
}

.fname-container {
  margin-right: 50px;
}

.lname-container {
  display: flex;
  flex-direction: column;
}

.fname-container small,
.lname-container small {
  color: #2e2e2e;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;

  display: flex;
  align-items: center;
  font-weight: 100;
}

.selector-container select {
  height: 60px;
  width: 878px;
  left: 24px;
  top: 8px;
  border-radius: 8px;
  border: 0.3px solid rgb(55, 167, 241);

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 51px;
}

.email-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.email-container input {
  width: 878px;
  height: 40px;
  border-radius: 8px;
  border: 0.3px solid rgb(55, 167, 241);

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.phone-container {
  display: flex;
  flex-direction: column;
}
.phone-container input {
  width: 878px;
  height: 40px;
  border-radius: 8px;
  border: 0.3px solid rgb(55, 167, 241);

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.next,
.save {
  color: #fff;
  font-size: 20px;
  gap: 20px;
  background-color: #62a1eb;
  border-radius: 8px;
  border: 0.3px solid rgb(55, 167, 241);
  width: 176px;
  height: 60px;
  position: relative;
  right: -709px;
  top: 106px;
}

// Laptop Form

.dropzone {
  width: 878px;
  height: 423px;
  border: 1px dashed rgb(73, 175, 235);
  text-align: center;
  line-height: 100px;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 80px;

  button {
    width: 233px;
    height: 60px;
    background-color: #62a1eb;
    border-radius: 8px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
  }

  label {
    cursor: pointer;

    .text {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 38px;

      text-align: center;
      margin-top: 107px;
      margin-bottom: 65px;
    }
  }

  .upload-button-container {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color: #62a1eb;
    border-radius: 8px;
    border: 0.3px solid rgb(55, 167, 241);
    width: 176px;
    height: 60px;

    .upload-text{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  #inputTag {
    opacity: 0;
  }
}

.laptopname,
#laptopbrand,
#cpu,
.ram-input {
  width: 407px;
  height: 40px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  border-radius: 8px;
  border: 0.3px solid rgb(55, 167, 241);
}

#laptopbrand {
  margin-top: 20px;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
}

hr {
  height: 1px;
  border: none;
  background-color: #c7c7c7;
  margin-bottom: 80px;
}

.cpu-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-bottom: 79px;
}

#cpu {
  width: 277px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.cpu-input {
  width: 277px;
  height: 44px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  border-radius: 8px;
  border: 0.3px solid rgb(55, 167, 241);
}

.radio-container {
  display: flex;
  justify-content: flex-start;
}

.ram-input-container {
  margin-right: 50px;
  margin-bottom: 80px;
}
.left-radio-button {
  margin-right: 40px;
}

.date-input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.date-input,
.price-input {
  width: 407px;
  height: 40px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  border-radius: 8px;
  border: 0.3px solid rgb(55, 167, 241);
}

.back {
  color: rgb(55, 167, 241);
  position: relative;
  left: 0px;
  top: 106px;
}
